<!DOCTYPE html>
<html>
    <head>
        <meta content="initial-scale = 1, width = device-width" name = "viewport"/>
        <style>
            nav {
                text-align: center;
                }
            {% block style %}
            {% endblock %}
        </style>        
        <title>{% block title %}{% endblock %}</title>
    </head>
<body>

<div class = "main-page">
    <div>
        <div class = "nav-bar"></div>
            <a href ="{{url_for('blog')}}">HOME</a>
            <a href ="{{url_for('newpost')}}">Make A new post</a>
        </div>
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>