<!DOCTYPE html>
<html>
    <head>
        <meta content="initial-scale = 1, width = device-width" name = "viewport"/>
        <style>
            nav {
                text-align: center;
            } 
            .error_message {
                color: red;
            }
            {% block style %}{% endblock %}
        </style>        
        <title>{% block title %}{% endblock %}</title>
    </head>
<body>

<div>
<header>
    <nav class = 'nav-bar'>
        <a href ="{{url_for('index')}}">HOME</a>
        <a href ="{{url_for('blog')}}">ALL POSTS</a>
        <a href ="{{url_for('newpost')}}">NEW POST</a>
        <a href ="{{url_for('login')}}">LOGIN</a>
        <a href ="{{url_for('index')}}">LOGOUT</a>
    </nav>
    <div>
        {% block h1 %} {% endblock %}
    </div>
</header>
<main>
    {% with messages = get_flashed_messages(with_category = True) %}
       {% for category.message in messages %}
          <p class = "{{error_message}}" >{{message}}</p>
          <br />
       {% endfor %}
    {% endwith %}
  {% block content %}
{% endblock %}
</main>
      <footer>

      </footer>
    </div>
</body>
</html>