{% extends "base.html" %}
{% block content %}
<div>
  <h1>{{title}}</h1>
</div>
<div>
    {% if blogposts|length == 0 %}
    <p>
        <i>No newpost yet</i>
    </p>
  {% else %}
    <ul>
        {% for post in blogposts%}
        <li>
            <a href ="./blog?id={{blog_post_content.id"}}>{{blog_post_content.blog_title}}</a>
        </li>
        <li>
             {{blog_post_centent.blog_post}}
        </li>
        <br />

        {% endfor%}
    </ul>
    {% endif %}
</div>
{% endblock %}