{% extends "base.html" %}
{% block style %}
 h1 {
    text-align: center;
    font-size: 60   px;
    font-family: ubuntu;:wq
   }
   ul {
       list-style: none;
       margin: 0;
       padding: 0;
    }
{% endblock %}
{% block content %}
<div>
  <h1>{{title}}</h1>
</div>
<div>
    {% if blogposts|length == 0 %}
    <p>
        <i>No newpost yet</i>
    </p>
  {% else %}
    <ul>
        {% for post in blogposts%}
        <li>
            <a href ="./blog?id={{post.id}}">{{post.blog_title}}</a>
        </li>
        <li>
             {{post.blog_post}}
        </li>
        <br />

        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}