{% extends 'base.html' %}
{% block style %}

{% endblock %}
{% block h1 %}
   <b>BLOG POSTS</b>
{% endblock %}

{% block content %}
   {% if user_entries | length == 0 %}
      <p> NO POST BY THIS USER </p>
   {% else %}
       {% for user_entry in user_entries %}
         <h2>
             <a href = './blog?id={{user_entry.id}}'>{{user_entry.blog_title}}</a>
         </h2>
         <p>
            {{user_entry.blog_post}}
         </p>
         <p>
            <i>
                Written by <a href = './blog?user={{user_entry.owner.username}}'>{{user_entry.owner.username}}</a>
            </i>
         </p>
       {% endfor %}
   {% endif %}

{% endblock %}